<div id="carousel-example" class="carousel slide" data-ride="carousel">
<!-- 图片轮播Indicators -->
<ol class="carousel-indicators">
 <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
 <li data-target="#carousel-example" data-slide-to="1"></li>
 <li data-target="#carousel-example" data-slide-to="2"></li>
 </ol><!-- Wrapper for slides -->
 <div class="carousel-inner">
 <div class="item active">
   <img src="http://ww2.sinaimg.cn/large/006tNc79ly1ff8eec0dr3j31kw0vyhdt.jpg" alt="First slide" />
   <div class="carousel-caption">
          <h3 class="title-a">FUN INTERNSHIP</h3>
          <p class="fubiaoti-a">人生没有白走的路，每一步都算数
                                     <br>
                               上优趣 寻找真正属于你的路
                                      <br>
                            凭借自己的努力和天份也会变 Winner</p>
                            <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开启优趣之旅</a></p>
        </div>
 </div>
 <div class="item">
 <img src="http://ww3.sinaimg.cn/large/006tNc79ly1ff8e8mk42pj31kw0uadte.jpg" alt="Second slide" />
 <div class="carousel-caption"><h3 class="title-b">FUN INTERNSHIP</h3>
 <p class="fubiaoti">没什么创意无限，只看你敢不敢表现
                          <br>
                     每个时代都悄悄犒赏懂得实践的人
                          <br>
                      从优趣起步，轻松跨越从小白到入门！
 </p> </div>
 </div>
 <div class="item">
 <img src="http://ww3.sinaimg.cn/large/006tNc79ly1ff8ea14rptj31kw0xvwj3.jpg" alt="Third slide" />
 <div class="carousel-caption"><h3 class="title-b">FUN INTERNSHIP</h3>
        <p class="fubiaoti">众多实习转正案例
                          <br>
                        快来优趣
                          <br>
                      下一个，就是你！
 </p></div>
 </div>
 </div>

 <!-- Controls -->
 <a class="left carousel-control" href="#carousel-example" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- end 图片轮播Indicators -->
<!-- 网站简介 功能 -->
<div class="feature">
  <div class="row">
    <h2 class="section-title">Trusted By freshman. Chosen By company</h2>
    <div class="short-line"></div>
    <p class="text-center">
      刚毕业？想转行？还是想做公益实践丰富自己的履历？<br>
    优趣实习，一个鼓励你实践的实习网站。<br>助你迈进职场第一步
    </p>
    </div>
  </div>

  <div class="row row-fea">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/jobs"><br>
        <img src='http://i2.muimg.com/1949/8b6e370a1d061236.png'>
        <!-- <i class="fa fa-dollar fa-4x"></i> -->
        <h4>全球范围内1-12个月带薪实习</h4>
        </a><p><a href="/jobs"></a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/jobs"><br>
        <img src='http://i4.buimg.com/1949/6cb5d97de83d5053.png'>
        <h4>大型非营利机构<br>公益实习项目</h4>
        </a><p><a href="/jobs"></a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/jobs"><br>
        <img src='http://i4.buimg.com/1949/32c50e96ada29e31.png'>
        <h4>艺术 教育 通用商务<br>三大领域岗位</h4>
        </a><p><a href="/jobs"></a>
        </p>
      </div>
    </div>
   <div class="col-md-3">
     <div class="thumbnail">
       <a href="/jobs"><br>
       <img src='http://i4.buimg.com/1949/e3271bc85ff2d452.png'>
       <h4>名企预转正机会</h4>
       </a><p><a href="/jobs"></a>
       </p>
     </div>
  </div>
  </div>

  <!-- 案例 -->
  <div class="testimonial">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="section-title">Guest Feedback</h2>
        <div class="short-line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row row-test">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://ww3.sinaimg.cn/large/006tNc79ly1ff8eb1iw5ej31kw1kvk4n.jpg" alt="...">
              <div class="caption">
                <h3>si Chen <br> PHOTOGRAPHER</h3>
                <p>本科专业是化学，参加社团的关系疯狂迷恋上摄影<br>大三实习的时候在优趣找到一家设计公司实习摄影师的职位<br>经过半年的实习，我坚定的走上了职业摄影师的道路...</p>
                <p><a href="#" class="btn btn-primary" role="button">view more</a> </p>
              </div>
             </div>
            </div>

            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://ww2.sinaimg.cn/large/006tNc79ly1ff8fxydef2j31190xl0w2.jpg" alt="...">
              <div class="caption">
                <h3>Alex web <br> WEB ENGINEER </h3>
                <p>I have really enjoyed working for Cobb Pediatric. <br> I’ve always felt appreciated and supported by the company and they take great care of their employees.<br>I Really find my career way in youqu <br>thank you!</p>
                <p><a href="#" class="btn btn-primary" role="button">view more</a></p>
              </div>
            </div>
          </div>

            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://ww1.sinaimg.cn/large/006tNc79ly1ff8ebh5wsmj31kw1hbgrp.jpg" alt="...">
              <div class="caption">
                <h3>Anna W.<br> HR</h3>
                <p>My experience with FUN INTERNSHIP has been absolutely wonderful! <br>I feel very taken care of and feel that the company truly wants insight from the employees and tries to accommodate and respond to their needs. <br> Until one day I receive the offer... <br>Thank you!  </p>
                <p><a href="#" class="btn btn-primary" role="button">view more</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- 合作伙伴 ------------------------>
  <div class="content-partners">
  <div class="container">
    <h2 class="section-heading">
    OUR PARTNERS
    </h2>
    <div class="short-line"></div>
    <p class="lead">
    To offer best internship oppotunities, we work closely with top companies like:
    </p>

    <div class="list">
      <img class="logo" src="http://i1.piimg.com/1949/14e42e2b3fad3e18.png">
      <img class="logo" src="http://i1.piimg.com/1949/9c4bd81adb01a13e.png">
      <img class="logo" src="http://i1.piimg.com/1949/daa102e614c7ff76.png">
      <img class="logo" src="http://i1.piimg.com/1949/1011aa6c3d4fcd10.png">
      <img class="logo" src="http://i1.piimg.com/1949/3f2340a54b1ff53c.png">

    </div>

    <hr>

    <h2 class="section-heading-a">
    TOP INTERNSHIP OPPOTUNITIES ON YUQU
    </h2>
    <div class="short-line"></div>
    <p class="lead">
    Job seekers on Quick Hunt have been hired by:
    </p>

    <div class="list">
      <i class="logo-mini fa fa-google fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-apple fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-weixin fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-linkedin fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-dropbox fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-github fa-fw fa-5x" aria-hidden="true"></i>
    </div>

    <div class="list">
      <i class="logo-mini fa fa-windows fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-twitter fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-twitch fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-steam fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-pinterest fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-weibo fa-fw fa-5x" aria-hidden="true"></i>
    </div>

    <div class="list">
      <i class="logo-mini fa fa-envira fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-dribbble fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-yahoo fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-paypal fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-codepen fa-fw fa-5x" aria-hidden="true"></i>
      <i class="logo-mini fa fa-spotify fa-fw fa-5x" aria-hidden="true"></i>

    </div>

    <div container="">
      <h2 class="section-heading">

      </h2>
      <p class="lead">
      Be the next career success story.
      </p>
      <a href="/jobs" class="btn btn-lg btn-danger button_highlight">Act Now</a>
    </div>
  </div>
</div>
