  <footer>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="text-center">
              Copyright ©2017 优趣实习
               <br>Design by Yan Xiaoyu
          </div>
        </div>
      </div>
</footer>
